In [155]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from unidecode import unidecode

In [156]:
divar=pd.read_csv('divar.csv')

In [157]:
divar

,title,description1,description2,description3,district_name,real_estate_type,real_estate_area,real_estate_age,total_rooms,price,...,real_estate_agencey,floor,elevator,parking,warehouse,units_per_floor,document,building_direction,unit_status,facilities
0,۱۰۵ متر ، نوساز کلیدنخورده ،فول امکانات|فروش آ...,۱۰۵ متر ، نوساز کلیدنخورده ،فول امکانات|فروش آ...,✅️املاک طاهری✅️\nمشاور شما : مهران\n\n✅️آپارتم...,✅️املاک طاهری✅️\nمشاور شما : مهران\n\n✅️آپارتم...,افسریه,apartment-sell,۱۰۵,۱۴۰۲,۲,۶٬۹۰۰٬۰۰۰٬۰۰۰ تومان,...,مشاور املاک طاهری,۳ از ۵,True,True,NaN,۱,تک‌برگ,جنوبی,NaN,"آسانسور,پارکینگ,انباری ندارد,بالکن,جنس کف سرام..."
1,آپارتمان ۶۴ متری|فروش آپارتمان|تهران، ستارخان|...,آپارتمان ۶۴ متری|فروش آپارتمان|تهران، ستارخان|...,#یک واحد نقلی متراژ۶۴ متر ...,#یک واحد نقلی متراژ۶۴ متر ...,ستارخان,apartment-sell,۶۴,۱۳۷۶,۱,۶٬۱۰۰٬۰۰۰٬۰۰۰ تومان,...,NaN,۴ از ۸,NaN,True,True,۲,تک‌برگ,جنوبی,بازسازی شده,"آسانسور ندارد,پارکینگ,انباری,بالکن,جنس کف سرام..."
2,63متر یک خواب پونک ایران زمین شمالی|فروش آپارت...,63متر یک خواب پونک ایران زمین شمالی|فروش آپارت...,یک خواب\nفول امکانات\nطبقه ۴\nبازسازی شده\nنما...,یک خواب\nفول امکانات\nطبقه ۴\nبازسازی شده\nنما...,پونک,apartment-sell,۶۲,۱۳۸۹,۱,۶٬۷۰۰٬۰۰۰٬۰۰۰ تومان,...,NaN,۴ از ۵,True,True,True,۴,تک‌برگ,شمالی,بازسازی شده,"آسانسور,پارکینگ,انباری,بالکن ندارد,جنس کف سنگ,..."
3,پونک _ ۱۰۰متر ۲ خواب ۶ساله روبه افتاب|فروش آپا...,پونک _ ۱۰۰متر ۲ خواب ۶ساله روبه افتاب|فروش آپا...,✅مناسب افرادی که متراژ بالا با قیمت مناسب میخو...,✅مناسب افرادی که متراژ بالا با قیمت مناسب میخو...,پونک,apartment-sell,۱۰۰,۱۳۹۶,۲,۹٬۹۰۰٬۰۰۰٬۰۰۰ تومان,...,املاک آوا,۲,True,True,True,NaN,NaN,NaN,NaN,NaN
4,45متر تک خواب.خوش نقشه|فروش آپارتمان|تهران، هف...,45متر تک خواب.خوش نقشه|فروش آپارتمان|تهران، هف...,45متر یکخوابه\nطبقه 2سندی \nکاملا بازسازی شده ...,45متر یکخوابه\nطبقه 2سندی \nکاملا بازسازی شده ...,هفت چنار,apartment-sell,۴۵,۱۳۸۲,۱,۲٬۷۵۰٬۰۰۰٬۰۰۰ تومان,...,NaN,۲ از ۴,NaN,NaN,True,۲,تک‌برگ,جنوبی,بازسازی شده,"آسانسور ندارد,پارکینگ ندارد,انباری,بالکن,جنس ک..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74325,پونک کمالی 70 متر 2 خوابه فول امکانات|فروش آپا...,پونک کمالی 70 متر 2 خوابه فول امکانات|فروش آپا...,پونک کمالی\nبهار شرقی\nطبقه 4\n2 خواب رو به جن...,پونک کمالی\nبهار شرقی\nطبقه 4\n2 خواب رو به جن...,پونک,apartment-sell,۷۰,۱۳۹۲,۲,۸٬۴۰۰٬۰۰۰٬۰۰۰ تومان,...,NaN,۴,True,True,True,NaN,تک‌برگ,NaN,NaN,"آسانسور,پارکینگ"
74326,۵۶متر_تک بازدید_طلا_سازمان مرکزی_|فروش آپارتما...,۵۶متر_تک بازدید_طلا_سازمان مرکزی_|فروش آپارتما...,✅بنام یگانه معمار هستی✅\n\n فایل ...,✅بنام یگانه معمار هستی✅\n\n فایل ...,سازمان برنامه,apartment-sell,۵۶,۱۳۹۶,۱,۶٬۲۰۰٬۰۰۰٬۰۰۰ تومان,...,بزرگ دیپلمات,۴,True,True,True,NaN,NaN,NaN,NaN,NaN
74327,آپارتمان ۵۲ متری ارغوان|فروش آپارتمان|تهران، ظ...,آپارتمان ۵۲ متری ارغوان|فروش آپارتمان|تهران، ظ...,واحد ۵۲ نقلی و تمیز\nکف سرامیک،کاغذ دیواری، کم...,واحد ۵۲ نقلی و تمیز\nکف سرامیک،کاغذ دیواری، کم...,ظهیرآباد,apartment-sell,۵۲,۱۳۸۵,۱,۱٬۳۴۰٬۰۰۰٬۰۰۰ تومان,...,NaN,۲ از ۳,NaN,NaN,True,۴,تک‌برگ,شرقی,بازسازی شده,"آسانسور ندارد,پارکینگ ندارد,انباری,بالکن ندارد..."
74328,شیخ بهایی ۱۰۳ متر ۲خواب تکواحد قدرالسهمی|فروش ...,شیخ بهایی ۱۰۳ متر ۲خواب تکواحد قدرالسهمی|فروش ...,⚛✳⚛✳⚛ به نام خالق هستی ⚛✳⚛✳⚛\n\n ⚛✳⚛✳ بازدید...,⚛✳⚛✳⚛ به نام خالق هستی ⚛✳⚛✳⚛\n\n ⚛✳⚛✳ بازدید...,ونک,apartment-sell,۱۰۳,۱۳۷۵,۲,۸٬۰۰۰٬۰۰۰٬۰۰۰ تومان,...,خانه ديگر,۳,NaN,True,True,NaN,NaN,NaN,NaN,NaN
74329,۲۷۰متر_تراس چیدمان_یاسر_فول نوسازی|فروش آپارتم...,۲۷۰متر_تراس چیدمان_یاسر_فول نوسازی|فروش آپارتم...,با سلام\n\n۲۷۰ متر فول نوسازی شده در لوکیشین د...,با سلام\n\n۲۷۰ متر فول نوسازی شده در لوکیشین د...,نیاوران,apartment-sell,۲۷۰,۱۳۹۵,۳,۵۶٬۰۰۰٬۰۰۰٬۰۰۰ تومان,...,هوم بانک,۳,True,True,True,NaN,NaN,NaN,NaN,NaN

In [158]:
divar.drop(columns=["real_estate_agencey", "units_per_floor", "document", "building_direction", "unit_status"], inplace=True)

In [159]:
divar['facilities'].fillna(',',inplace=True)
divar['facilities'] = divar['facilities'].str.replace("[", "")
divar['facilities'] = divar['facilities'].str.replace("]", "")
divar['facilities'] = divar['facilities'].str.replace("'", "")

In [160]:
exploded_df = divar['facilities'].map(lambda x:x.split(",")).explode()
one_hot_encoded = pd.get_dummies(exploded_df , dtype="int")
result_df = one_hot_encoded.groupby(one_hot_encoded.index).sum()
result_df.drop(columns="",  inplace=True)
result_df.drop(columns=['facilities'], inplace=True)

In [161]:
result_df = result_df.loc[:, ["بالکن", "بالکن ندارد", "انباری",  "انباری ندارد" ,"آسانسور" ,"آسانسور ندارد" ,"پارکینگ" ,"پارکینگ ندارد"]]

In [162]:
result_df.rename(columns={"پارکینگ": "has_parking",
                  "پارکینگ ندارد" : "no_parking",
                  "آسانسور": "has_elevator",
                  "آسانسور ندارد": "no_elevator",
                  "انباری": "has_warehouse",
                  "انباری ندارد": "no_warehouse",
                  "بالکن": "has_balcony",
                  "بالکن ندارد": "no_balcony"},
                inplace=True)

In [163]:
merged_df = divar.merge(result_df, left_index=True, right_index=True)

In [164]:
residental=merged_df[merged_df['real_estate_type']=='apartment-sell'].copy()

In [165]:
residental['price'] = residental['price'].str.replace('٬','')
residental['price'] = residental['price'].str.replace('تومان','')
residental['price']=residental['price'].astype(str).apply(unidecode)
residental.drop(residental[residental['price'] == 'twfqy'].index,inplace=True)
residental["price"] = residental["price"].astype("float")

In [166]:
residental['price_per_meter'] = residental['price_per_meter'].str.replace('٬','')
residental['price_per_meter'] = residental['price_per_meter'].str.replace('تومان','')
residental['price_per_meter']=residental['price_per_meter'].astype(str).apply(unidecode)
residental["price_per_meter"] = residental["price_per_meter"].astype("float")

In [167]:
residental['floor']=residental['floor'].str.replace('زیرهمکف','-1')
residental['floor']=residental['floor'].str.replace('همکف','0')
residental['floor']=residental['floor'].str.replace('بیشتر از','')
residental['floor']=residental['floor'].str.replace('از','|')
residental['floor']=residental['floor'].astype(str).apply(unidecode)
residental['floor']=residental['floor'].str.split("|").apply(lambda x:x[0])
residental['floor']=residental['floor'].str.replace('30+', '30')
residental['floor']=residental['floor'].str.replace('+30', '30')
residental.drop(residental[residental["floor"] == 'nan'].index,inplace=True)
residental["floor"] = residental["floor"].astype("int")

In [168]:
residental['real_estate_area']=residental['real_estate_area'].astype(str).apply(unidecode)
residental["real_estate_area"] = residental["real_estate_area"].astype('float')

In [169]:
residental['real_estate_age']=residental['real_estate_age'].astype(str).apply(unidecode)
residental['real_estate_age']=residental['real_estate_age'].str.replace('qbl z 1370', '1370')
residental["real_estate_age"] = 1402 - (residental["real_estate_age"].astype('int'))

In [170]:
residental['total_rooms']=residental['total_rooms'].astype(str).apply(unidecode)
residental['total_rooms']=residental['total_rooms'].str.replace('bdwn tq', '0')
residental['total_rooms']=residental['total_rooms'].str.replace('+4', '5')
residental["total_rooms"] = residental["total_rooms"].astype('int')

In [171]:
special_word1 = 'استخر'
special_word2 = 'روف گاردن'
special_word3 = 'لابی'
special_word4 = 'لابی من'
special_word5 = 'آنتن مرکزی'
special_word7 = 'بالکن'
special_word8 = 'سونا'
special_word9 = 'جکوزی'
special_word10 = 'باشگاه'
special_word11 = 'جاروبرقی مرکزی'
special_word12 = 'سرایدار'
special_word13 = 'نگهبان'
special_word14 = 'مستر'
special_word15 = 'سالن اجتماعات'
special_word16 = 'پارکینگ'
special_word17 = 'آسانسور'
special_word19 = 'انباری'

residental['pool'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word1, regex=True).any(), axis=1).astype(int)
residental['roof_garden'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word2, regex=True).any(), axis=1).astype(int)
residental['lobby'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word3, regex=True).any(), axis=1).astype(int)
residental['lobby_man'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word4, regex=True).any(), axis=1).astype(int)
residental['central_anthena'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word5, regex=True).any(), axis=1).astype(int)
residental['balkony'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word7, regex=True).any(), axis=1).astype(int)
residental['sauna'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word8, regex=True).any(), axis=1).astype(int)
residental['jacuzzi'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word9, regex=True).any(), axis=1).astype(int)
residental['gym'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word10, regex=True).any(), axis=1).astype(int)
residental['central_Vacuume_cleaner'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word11, regex=True).any(), axis=1).astype(int)
residental['janitor'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word12, regex=True).any(), axis=1).astype(int)
residental['Guard'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word13, regex=True).any(), axis=1).astype(int)
residental['master_room'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word14, regex=True).any(), axis=1).astype(int)
residental['conference_hall']= residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word15, regex=True).any(), axis=1).astype(int)
residental['parking_d']= residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word16, regex=True).any(), axis=1).astype(int)
residental['elevator_d'] = residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word17, regex=True).any(), axis=1).astype(int)
residental['warehouse_d']= residental[['description1','description2','description3','title']].apply(lambda row: row.astype(str).str.contains(special_word19, regex=True).any(), axis=1).astype(int)

In [173]:
residental.isnull().sum()

title                          0
description1                   0
description2                   0
description3                   0
district_name                  0
real_estate_type               0
real_estate_area               0
real_estate_age                0
total_rooms                    0
price                          0
price_per_meter                0
floor                          0
elevator                   13121
parking                     9125
warehouse                   4584
facilities                     0
has_balcony                    0
no_balcony                     0
has_warehouse                  0
no_warehouse                   0
has_elevator                   0
no_elevator                    0
has_parking                    0
no_parking                     0
pool                           0
roof_garden                    0
lobby                          0
lobby_man                      0
central_anthena                0
balkony                        0
sauna                          0
jacuzzi                        0
gym                            0
central_Vacuume_cleaner        0
janitor                        0
Guard                          0
master_room                    0
conference_hall                0
parking_d                      0
elevator_d                     0
warehouse_d                    0
dtype: int64

In [174]:
print("parking: ", residental.parking.isna().sum())
print("warehouse: ", residental.warehouse.isna().sum())
print("elevator: ", residental.elevator.isna().sum())

parking:  9125
warehouse:  4584
elevator:  13121

In [175]:
def func(row):
    if row.parking is np.nan:
        if (row.has_parking == 0) and (row.no_parking == 0):
            row.has_parking = np.nan
            row.no_parking = np.nan
            
        if row.has_parking == 1:
            row.parking = True
        elif row.has_parking == 0:
            row.parking = False
        elif row.parking_d == 1:
            row.parking = True
            
    if row.elevator is np.nan:
        if (row.has_elevator == 0) and (row.no_elevator == 0):
                row.has_elevator = np.nan
                row.no_elevator = np.nan
            
        if row.has_elevator == 1:
            row.elevator = True
        elif row.has_elevator == 0:
            row.elevator = False
        elif row.elevator_d == 1:
            row.elevator = True
            

    if row.warehouse is np.nan:
        if (row.has_warehouse == 0) and (row.no_warehouse == 0):
                row.has_warehouse = np.nan
                row.no_warehouse = np.nan
        if row.has_warehouse == 1:
            row.warehouse = True
        elif row.has_warehouse == 0:
            row.warehouse = False
        elif row.warehouse_d == 1:
            row.warehouse = True

    if (row.has_balcony == 0) and (row.no_balcony == 0):
        row.has_balcony = np.nan
        row.no_balcony = np.nan
        
    if row.has_balcony is np.nan:
        if row.balkony == 1:
            row.has_balcony = 1
    

    return row


residental = residental.apply(func, axis=1)

In [177]:
residental.drop(columns=['has_elevator', 'no_elevator', 'has_warehouse', 'no_warehouse', 'has_parking', 'no_parking', 'no_balcony', 'parking_d', 'elevator_d', 'warehouse_d'], inplace=True)

In [178]:
residental.rename(columns={"has_balcony": "balcony"}, inplace=True)

In [182]:
residental.drop(['title','description1','description2','description3'],axis=1,inplace=)

In [183]:
residental.head()

,district_name,real_estate_type,real_estate_area,real_estate_age,total_rooms,price,price_per_meter,floor,elevator,parking,...,central_anthena,balkony,sauna,jacuzzi,gym,central_Vacuume_cleaner,janitor,Guard,master_room,conference_hall
0,افسریه,apartment-sell,105.0,0,2,6.900000e+09,65714000.0,3,True,True,...,0,0,0,0,0,0,0,0,0,0
1,ستارخان,apartment-sell,64.0,26,1,6.100000e+09,95312000.0,4,False,True,...,0,1,0,0,0,0,0,0,0,0
2,پونک,apartment-sell,62.0,13,1,6.700000e+09,108065000.0,4,True,True,...,0,0,0,0,0,0,0,0,0,0
3,پونک,apartment-sell,100.0,6,2,9.900000e+09,99000000.0,2,True,True,...,0,1,1,1,0,0,0,0,0,0
4,هفت چنار,apartment-sell,45.0,20,1,2.750000e+09,61111000.0,2,False,False,...,0,0,0,0,0,0,0,0,0,0

In [184]:
residental['price'][0]/residental['real_estate_area'][0]

65714285.71428572

In [186]:
residental_divar=residental.copy()

In [187]:
residental_divar.reset_index(inplace=True)

In [189]:
residental_divar.drop('index',inplace=True,axis=1)

In [192]:
def cat_to_binary(x):
    if x:
        return 1
    else:
        return 0

In [193]:
# cat_to_binary(residental_divar['elevator'][1])
column_objects=['elevator','parking','warehouse']
for item in column_objects:
    residental_divar[item]=residental_divar[item].apply(cat_to_binary)

In [194]:
residental_divar

,district_name,real_estate_type,real_estate_area,real_estate_age,total_rooms,price,price_per_meter,floor,elevator,parking,...,central_anthena,balkony,sauna,jacuzzi,gym,central_Vacuume_cleaner,janitor,Guard,master_room,conference_hall
0,افسریه,apartment-sell,105.0,0,2,6.900000e+09,65714000.0,3,1,1,...,0,0,0,0,0,0,0,0,0,0
1,ستارخان,apartment-sell,64.0,26,1,6.100000e+09,95312000.0,4,0,1,...,0,1,0,0,0,0,0,0,0,0
2,پونک,apartment-sell,62.0,13,1,6.700000e+09,108065000.0,4,1,1,...,0,0,0,0,0,0,0,0,0,0
3,پونک,apartment-sell,100.0,6,2,9.900000e+09,99000000.0,2,1,1,...,0,1,1,1,0,0,0,0,0,0
4,هفت چنار,apartment-sell,45.0,20,1,2.750000e+09,61111000.0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67431,پونک,apartment-sell,70.0,10,2,8.400000e+09,120000000.0,4,1,1,...,0,0,0,0,0,0,1,0,0,0
67432,سازمان برنامه,apartment-sell,56.0,6,1,6.200000e+09,110714000.0,4,1,1,...,0,0,0,0,0,0,1,0,0,0
67433,ظهیرآباد,apartment-sell,52.0,17,1,1.340000e+09,25769000.0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
67434,ونک,apartment-sell,103.0,27,2,8.000000e+09,77670000.0,3,1,1,...,0,0,0,0,0,0,0,0,0,0
67435,نیاوران,apartment-sell,270.0,7,3,5.600000e+10,207407000.0,3,1,1,...,0,0,0,0,0,0,0,0,1,1

In [195]:
def change_balcony(row):
    if row.balkony==1 and row.balcony==0:
        row.balcony=1
    return row

In [196]:

residental_divar=residental_divar.apply(change_balcony,axis=1)

In [205]:
residental_divar['balcony'].fillna(0,inplace=True)

## drop outliar

In [208]:
residental_divar.drop(['balkony','facilities','real_estate_type'],axis=1,inplace=True)

In [210]:
residental_divar.drop(residental_divar[residental_divar['price_per_meter']<2e7].index,inplace=True)
residental_divar.drop(residental_divar[residental_divar['price_per_meter']>0.6e9].index,inplace=True)

In [212]:
residental_divar.drop(residental_divar[residental_divar['real_estate_area']<=20].index,inplace=True)

In [213]:
residental_divar.drop(residental_divar[residental_divar['real_estate_area'] > 1000].index,inplace=True)

In [214]:
residental_divar.drop(residental_divar[(residental_divar['total_rooms']>1)&(residental_divar['real_estate_area']<50)].index,inplace=True)
residental_divar.drop(residental_divar[(residental_divar['total_rooms']>2)&(residental_divar['real_estate_area']<80)&(residental_divar['real_estate_area']>=50)].index,inplace=True)
residental_divar.drop(residental_divar[(residental_divar['total_rooms']>3)&(residental_divar['real_estate_area']<120)&(residental_divar['real_estate_area']>=80)].index,inplace=True)
residental_divar.drop(residental_divar[(residental_divar['total_rooms']>5)&(residental_divar['real_estate_area']<200)&(residental_divar['real_estate_area']>=120)].index,inplace=True)

In [229]:
residental_divar['balcony']=residental_divar['balcony'].astype('int8')

In [235]:
columns_int64=residental_divar.select_dtypes('int64').columns
for item in columns_int64:
    residental_divar[item]=residental_divar[item].astype('int8')

In [240]:
residental_divar.to_csv('divar_cleaned.csv',index=False)