In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error

In [2]:
mrestate=pd.read_csv('mrestate.csv')

In [10]:
mrestate

,district_name,real_estate_type,real_estate_area,total_rooms,number_of_parking,real_estate_age,price,facilities,floor
0,جردن,کلنگی,358.0,NaN,0,NaN,197000000000,NaN,NaN
1,جنت آباد مرکزی,کلنگی,260.0,6.0,0,32.0,62000000000,NaN,NaN
2,محمودیه,کلنگی,650.0,NaN,0,NaN,325000000000,NaN,NaN
3,قیطریه,کلنگی,580.0,6.0,3,32.0,174000000000,NaN,6.0
4,ولنجک,کلنگی,200.0,NaN,0,30.0,59500000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...
50499,جنت آباد شمالی,آپارتمان,82.0,2.0,1,10.0,7400000000,"آسانسور,انباری,بالکن",2.0
50500,شهرک نفت,آپارتمان,83.0,2.0,1,19.0,6800000000,"انباری,بالکن",2.0
50501,پونک,آپارتمان,90.0,2.0,1,10.0,9200000000,"آسانسور,انباری,بالکن",2.0
50502,بلوار فردوس,آپارتمان,100.0,2.0,1,20.0,8950000000,"آسانسور,انباری,بالکن",2.0
50503,دزاشیب,آپارتمان,108.0,2.0,1,22.0,13500000000,"آسانسور,انباری,بالکن",2.0

In [4]:
mrestate.describe()

,real_estate_area,total_rooms,number_of_parking,real_estate_age,floor
count,5.014900e+04,45637.000000,50504.000000,46958.000000,37810.000000
mean,3.508912e+04,2.561189,0.948578,95.939989,2.146258
std,6.758619e+06,2.306080,1.140519,335.041882,0.881260
min,1.000000e+00,1.000000,0.000000,-86.000000,1.000000
25%,7.000000e+01,2.000000,1.000000,2.000000,2.000000
50%,1.030000e+02,2.000000,1.000000,9.000000,2.000000
75%,1.550000e+02,3.000000,1.000000,18.000000,3.000000
max,1.500000e+09,30.000000,90.000000,1401.000000,6.000000

In [5]:
mrestate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50504 entries, 0 to 50503
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   district_name      50504 non-null  object
 1   real_estate_type   50504 non-null  object
 2   real_estate_area   50149 non-null  float64
 3   total_rooms        45637 non-null  float64
 4   number_of_parking  50504 non-null  int64
 5   real_estate_age    46958 non-null  float64
 6   price              50504 non-null  object
 7   facilities         42934 non-null  object
 8   floor              37810 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 3.5+ MB

In [6]:
mrestate.real_estate_type.unique()

array(['کلنگی', 'سوئیت', 'زمین', 'ویلا', 'پنت هاوس', 'برج', 'آپارتمان',
       'مستغلات'], dtype=object)

In [7]:
mrestate.district_name.unique()

array(['جردن', 'جنت آباد مرکزی', 'محمودیه', 'قیطریه', 'ولنجک', 'حشمتیه',
       'ونک', 'آرژانتین', 'جماران', 'شهرک دانشگاه شریف', 'الهیه',
       'لواسان', 'شهرک غرب', 'سعادت آباد', 'زعفرانیه', 'یافت آباد',
       'محله', 'تهرانسر', 'آزاد شهر', 'فرمانیه', 'شریعتی', 'جمالزاده',
       'پاسداران', 'ازگل', 'پونک', 'دروس', 'شمس آباد', 'سید خندان', 'ظفر',
       'دهکده المپیک', 'دریاچه خلیج فارس', 'شهرک راه آهن (شهرک گلستان)',
       'آبشار', 'کامرانیه', 'درکه', 'تهرانپارس', 'فرشته', 'اقدسیه',
       'چیتگر', 'نیاوران', 'کوهک', 'آجودانیه', 'دانشگاه شریف', 'شهران',
       'باغ فیض', 'وردآورد شمالی', 'لویزان و شیان', 'شهرک شهید باقری',
       'مهرآباد', 'شهرک چشمه', 'مروارید شهر', 'حکیمیه',
       'رستم آباد و اختیاریه', 'کن', 'توانیر', 'دارآباد', 'زرگنده',
       'اوین-مطنقه-2', 'صاحبقرانیه', 'بلوار فردوس', 'وردآورد جنوبی',
       'اندرزگو', 'صادقیه', 'بلوار-دریا', 'دولت ( کلاهدوز )', 'اتابک',
       'خاوران', 'جنت آباد جنوبی', 'نوبنیاد', 'جنت آباد شمالی', 'صفا',
       'تهران ویلا', 'تهرانسر شمالی', 'بازار', 'حصارک', 'شهرک اکباتان',
       'مرزداران', 'شهر ری', 'پیروزی', 'یوسف آباد', 'بلوار اردستانی',
       'ایرانشهر', 'سوهانک', 'سازمان برنامه شمالی', 'آیت الله کاشانی',
       'اباذر', 'مینی سیتی', 'شهرک نفت', 'مهران', 'تهرانسر مرکزی',
       'شهرک دانشگاه تهران', 'سازمان برنامه جنوبی', 'پونک -منطقه-2',
       'نارمک', 'کوی ارم', 'دولت اباد', 'تهران نو', 'صالح آباد',
       'سازمان آب', 'شکوفه', 'خیابان ری', 'دزاشیب', 'هاشمی', 'مخصوص',
       'کارون شمالی', 'استخر', 'بهارستان', 'یافت آباد(بازار مبل)',
       'نعمت آباد', 'شهرک بروجردی', 'دربند', 'ستارخان', 'خانی آباد',
       'ایران', 'فردوسی', 'فرحزاد', 'مجیدیه', 'آپادانا', 'گیشا',
       'آذربایجان', 'خیابان دماوند تهران', 'امام زاده قاسم', 'نصرت',
       'بلوار کشاورز', 'قبا', 'فاطمی', 'جیحون', 'ابوذر', 'امیر آباد',
       'هفت چنار', 'قنات کوثر', 'امیریه', 'تجریش', 'فلاح', 'شیخ بهایی',
       'سلسبیل(رودکی)', 'تیموری', 'شهرک ولیعصر', 'مشیریه', 'میرداماد',
       'هفت تیر', 'طیب', 'استادمعین', 'سهروردی', 'آزادی', 'سنایی',
       'عباس آباد', 'بریانک', 'قلهک', 'نظام آباد', 'هروی', 'کاشانک',
       'چیذر', 'امام خمینی', 'خیابان گرگان', 'قصرالدشت', 'سمیه', 'انقلاب',
       'شوش', 'شهرزیبا', 'نجات اللهی', 'آذری', 'دریان نو', 'جمهوری',
       'نیروی هوایی', 'شادمهر', 'سر آسیاب دولاب', 'جوادیه', 'وحدت اسلامی',
       'هاشم آباد', 'مطهری', 'خلیج فارس', 'مسعودیه', 'نازی آباد', 'مولوی',
       'افسریه', 'طرشت', 'چهاردیواری', 'منیریه', 'کوی بیمه', 'نبرد',
       'خواجه عبدالله', 'مقداد', 'صد دستگاه', 'وزراء', 'حافظ', 'حر',
       'گمرک', 'شاهین', 'خزانه', 'شمیران نو', 'حکمت', 'خوش', 'کیانشهر',
       'وحیدیه', 'سازمان برنامه مرکزی', 'مینا', 'شهرک والفجر', 'شهرک هما',
       'بیسیم', 'تهرانسر شرقی', 'بهار', 'اسکندری', 'تهرانسرغربی',
       'چیتگرجنوبی', 'عبدل آباد', 'علی آباد', 'ویلاشهر', 'مهرشهر فاز ۴',
       'شادآباد', 'قیام', 'شهرک پاسداران', 'اوقاف', 'شهریار', 'کارون',
       'المهدی', 'پاتریس لومومبا', 'بهجت آباد', 'شهرآرا', 'دامپزشکی',
       'حبیب الهی', 'سردار جنگل', 'کوی-فراز', 'کارگر شمالی', 'آشتیانی',
       'امین حضور', 'آرارات', 'شهرک دریا', 'تهرانپارس منطقه8', 'ساعی',
       'سی متری جی', 'نارمک منطقه 4', 'نواب', 'شهرک استقلال', 'سبلان',
       'آهنگ', 'قزل قلعه', 'دستغیب', 'شهرک محلاتی', 'پاسدارگمنام', 'جی',
       'شهرک نواب صفوی', 'ملاصدرا', 'سیمون بولیوار', 'زاهد گیلانی',
       'مدائن', 'قصر', 'شیخ هادی', 'قلعه مرغی', 'توحید', 'عباسی', 'سلماس',
       'دبستان', 'هفده شهریور', 'چهارصد دستگاه', 'امامزاده حسن(ع)',
       'شهرک آزادی', 'زمزم', 'شهرک سینمایی غزالی', 'پلیس', 'باغ آذری',
       'جوانمرد قصاب', 'زهتابی', 'یاخچی آباد و چهارصد دستگاه',
       'تولید دارو', 'وصفنارد', 'دردشت', 'دهقان', 'جوادیه منطقه4',
       'امامت', 'هزارسنگ', 'دوراهی قپان', 'امام حسین', 'شهر جدید اندیشه',
       'پردیس', 'امامزاده عبداله', 'زینبیه', 'شهرک انصار'], dtype=object)

In [9]:
filtered_data = mrestate[mrestate['price'] == 'توافقی']
filtered_data

,district_name,real_estate_type,real_estate_area,total_rooms,number_of_parking,real_estate_age,price,facilities,floor
7,ونک,کلنگی,600.0,NaN,0,NaN,توافقی,"آسانسور,انباری",NaN
10,آرژانتین,کلنگی,NaN,NaN,0,NaN,توافقی,"آسانسور,انباری",NaN
13,لواسان,ویلا,600.0,4.0,1,9.0,توافقی,انباری,NaN
18,سعادت آباد,کلنگی,200.0,NaN,0,NaN,توافقی,NaN,NaN
21,سعادت آباد,کلنگی,250.0,NaN,0,NaN,توافقی,NaN,NaN
...,...,...,...,...,...,...,...,...,...
50233,آذربایجان,آپارتمان,63.0,1.0,0,27.0,توافقی,NaN,1.0
50285,اندرزگو,آپارتمان,225.0,3.0,2,1.0,توافقی,"آسانسور,انباری,بالکن,سرایداری,نگهبانی,سالن اجت...",3.0
50373,جردن,آپارتمان,135.0,3.0,1,1.0,توافقی,"آسانسور,انباری,بالکن,سرایداری,نگهبانی,سالن اجت...",3.0
50465,جنت آباد جنوبی,آپارتمان,85.0,2.0,1,1.0,توافقی,"آسانسور,انباری,بالکن",2.0
50485,استادمعین,آپارتمان,80.0,2.0,0,12.0,توافقی,"انباری,بالکن",NaN

In [18]:
mrestate.drop(mrestate[mrestate["price"] == 'توافقی'].index, inplace=True)
mrestate.reset_index(drop=True, inplace=True)
mrestate

,district_name,real_estate_type,real_estate_area,total_rooms,number_of_parking,real_estate_age,price,facilities,floor
0,جردن,کلنگی,358.0,NaN,0,NaN,197000000000,NaN,NaN
1,جنت آباد مرکزی,کلنگی,260.0,6.0,0,32.0,62000000000,NaN,NaN
2,محمودیه,کلنگی,650.0,NaN,0,NaN,325000000000,NaN,NaN
3,قیطریه,کلنگی,580.0,6.0,3,32.0,174000000000,NaN,6.0
4,ولنجک,کلنگی,200.0,NaN,0,30.0,59500000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...
47528,جنت آباد شمالی,آپارتمان,82.0,2.0,1,10.0,7400000000,"آسانسور,انباری,بالکن",2.0
47529,شهرک نفت,آپارتمان,83.0,2.0,1,19.0,6800000000,"انباری,بالکن",2.0
47530,پونک,آپارتمان,90.0,2.0,1,10.0,9200000000,"آسانسور,انباری,بالکن",2.0
47531,بلوار فردوس,آپارتمان,100.0,2.0,1,20.0,8950000000,"آسانسور,انباری,بالکن",2.0
47532,دزاشیب,آپارتمان,108.0,2.0,1,22.0,13500000000,"آسانسور,انباری,بالکن",2.0

In [26]:
mrestate["price"]=mrestate["price"].astype(float)

In [27]:
mrestate['price_per_metre']=mrestate["price"]/mrestate['real_estate_area']

In [28]:
mrestate

,district_name,real_estate_type,real_estate_area,total_rooms,number_of_parking,real_estate_age,price,facilities,floor,price_per_metre
0,جردن,کلنگی,358.0,NaN,0,NaN,1.970000e+11,NaN,NaN,5.502793e+08
1,جنت آباد مرکزی,کلنگی,260.0,6.0,0,32.0,6.200000e+10,NaN,NaN,2.384615e+08
2,محمودیه,کلنگی,650.0,NaN,0,NaN,3.250000e+11,NaN,NaN,5.000000e+08
3,قیطریه,کلنگی,580.0,6.0,3,32.0,1.740000e+11,NaN,6.0,3.000000e+08
4,ولنجک,کلنگی,200.0,NaN,0,30.0,5.950000e+10,NaN,NaN,2.975000e+08
...,...,...,...,...,...,...,...,...,...,...
47528,جنت آباد شمالی,آپارتمان,82.0,2.0,1,10.0,7.400000e+09,"آسانسور,انباری,بالکن",2.0,9.024390e+07
47529,شهرک نفت,آپارتمان,83.0,2.0,1,19.0,6.800000e+09,"انباری,بالکن",2.0,8.192771e+07
47530,پونک,آپارتمان,90.0,2.0,1,10.0,9.200000e+09,"آسانسور,انباری,بالکن",2.0,1.022222e+08
47531,بلوار فردوس,آپارتمان,100.0,2.0,1,20.0,8.950000e+09,"آسانسور,انباری,بالکن",2.0,8.950000e+07
47532,دزاشیب,آپارتمان,108.0,2.0,1,22.0,1.350000e+10,"آسانسور,انباری,بالکن",2.0,1.250000e+08