In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.preprocessing import StandardScaler
# from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error

In [2]:
mrestate=pd.read_csv('../data/mrestate.csv')

In [3]:
mrestate

,district_name,real_estate_type,real_estate_area,total_rooms,number_of_parking,real_estate_age,price,facilities,floor
0,جردن,کلنگی,358.0,NaN,0,NaN,197000000000,NaN,NaN
1,جنت آباد مرکزی,کلنگی,260.0,6.0,0,32.0,62000000000,NaN,NaN
2,محمودیه,کلنگی,650.0,NaN,0,NaN,325000000000,NaN,NaN
3,قیطریه,کلنگی,580.0,6.0,3,32.0,174000000000,NaN,6.0
4,ولنجک,کلنگی,200.0,NaN,0,30.0,59500000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...
50499,جنت آباد شمالی,آپارتمان,82.0,2.0,1,10.0,7400000000,"آسانسور,انباری,بالکن",2.0
50500,شهرک نفت,آپارتمان,83.0,2.0,1,19.0,6800000000,"انباری,بالکن",2.0
50501,پونک,آپارتمان,90.0,2.0,1,10.0,9200000000,"آسانسور,انباری,بالکن",2.0
50502,بلوار فردوس,آپارتمان,100.0,2.0,1,20.0,8950000000,"آسانسور,انباری,بالکن",2.0
50503,دزاشیب,آپارتمان,108.0,2.0,1,22.0,13500000000,"آسانسور,انباری,بالکن",2.0

In [4]:
mrestate.describe()

,real_estate_area,total_rooms,number_of_parking,real_estate_age,floor
count,5.014900e+04,45637.000000,50504.000000,46958.000000,37810.000000
mean,3.508912e+04,2.561189,0.948578,95.939989,2.146258
std,6.758619e+06,2.306080,1.140519,335.041882,0.881260
min,1.000000e+00,1.000000,0.000000,-86.000000,1.000000
25%,7.000000e+01,2.000000,1.000000,2.000000,2.000000
50%,1.030000e+02,2.000000,1.000000,9.000000,2.000000
75%,1.550000e+02,3.000000,1.000000,18.000000,3.000000
max,1.500000e+09,30.000000,90.000000,1401.000000,6.000000

In [5]:
mrestate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50504 entries, 0 to 50503
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   district_name      50504 non-null  object
 1   real_estate_type   50504 non-null  object
 2   real_estate_area   50149 non-null  float64
 3   total_rooms        45637 non-null  float64
 4   number_of_parking  50504 non-null  int64
 5   real_estate_age    46958 non-null  float64
 6   price              50504 non-null  object
 7   facilities         42934 non-null  object
 8   floor              37810 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 3.5+ MB

In [6]:
filtered_data = mrestate[mrestate['price'] == 'توافقی']
# filtered_data

In [7]:
mrestate.drop(mrestate[mrestate["price"] == 'توافقی'].index, inplace=True)
mrestate.reset_index(drop=True, inplace=True)
# mrestate.sort_values(['price'])

In [8]:
mrestate["price"]=mrestate["price"].astype(float)

In [9]:
mrestate['price_per_metre']=mrestate["price"]/mrestate['real_estate_area']

In [10]:
# mrestate

In [11]:
# mrestate.real_estate_type.unique()

In [12]:
index_estate_type=mrestate[(mrestate['real_estate_type']=='آپارتمان')|(mrestate['real_estate_type']=='برج')].index
residental_mre=mrestate.loc[index_estate_type,:].copy()
# residental_mre

In [13]:
# residental_mre['facilities'].value_counts()

In [14]:
exploded_mre=residental_mre['facilities'].str.split(',').explode()
mre_get_dummy=pd.get_dummies(exploded_mre)
mre_result=mre_get_dummy.groupby(mre_get_dummy.index).sum()
residental_mre=residental_mre.merge(mre_result,on=residental_mre.index)

In [15]:
residental_mre.drop('key_0',axis=1,inplace=True)

In [16]:
residental_mre.drop_duplicates(inplace=True,ignore_index=True)

In [17]:
# attributes=['real_estate_area','total_rooms','price','number_of_parking']
# sns.scatterplot(residental_mre['price'].value_counts())

In [18]:
# sns.scatterplot(residental_mre[residental_mre['price']<1000]['price'].value_counts())

In [19]:
residental_mre.drop(residental_mre[residental_mre['price_per_metre']<2e7].index,inplace=True)
residental_mre.drop(residental_mre[residental_mre['price_per_metre']>0.6e9].index,inplace=True)

In [20]:
index_age_year=residental_mre['real_estate_age'][residental_mre['real_estate_age']>1300].index
index_age_neg=residental_mre['real_estate_age'][residental_mre['real_estate_age']<0].index
residental_mre.loc[index_age_year,'real_estate_age']=residental_mre.loc[index_age_year,'real_estate_age'].apply(lambda x:1402-x)
residental_mre.loc[index_age_neg,'real_estate_age']=residental_mre.loc[index_age_neg,'real_estate_age'].apply(lambda x:-x)

In [21]:

# residental_mre['number_of_parking'].value_counts()

In [22]:

# sns.scatterplot(residental_mre['real_estate_area'])

In [23]:

# residental_mre['real_estate_area']<25

In [24]:
residental_mre.drop(residental_mre[residental_mre['real_estate_area']<=20].index,inplace=True)

In [25]:
residental_mre.drop(residental_mre[residental_mre['real_estate_area'].isna()].index,inplace=True)

In [26]:


# residental_mre.info()

In [27]:
# residental_mre[residental_mre['number_of_parking']>10]

In [28]:
# residental_mre.columns

In [29]:
# # plt.figure(figsize=(15,15))
# from pandas.plotting import scatter_matrix
# # ax,fig=plt.subplots(nrows=2,ncols=2)
# attributes=['real_estate_area','total_rooms','price','number_of_parking']
# scatter_matrix(residental_mre[attributes],figsize=(15,15));
# # for i in range(4):

    
# # sns.scatterplot(x=residental_mre[])

In [30]:
# attributes = ["real_estate_area", "total_rooms"]
# # pd.plotting.scatter_matrix(merged_df[attributes],figsize=(20,10));
# plt.figure(figsize=(15,8))
# sns.scatterplot(x=residental_mre[attributes[0]],y=residental_mre[attributes[1]]);

# Tootal room nul handelling and deleting age nul sample

In [31]:
def find_mean(start, stop, step):
    for i in range(start, stop, step):
        condition = (residental_mre["real_estate_area"] >= i) & (residental_mre["real_estate_area"] <= (i + step))
        mean = residental_mre.total_rooms[condition].mean()
        residental_mre.loc[residental_mre.total_rooms.isna() & condition, "total_rooms"] = round(mean)

In [32]:
find_mean(0 , 400 , 40)
find_mean(400 , int(residental_mre.real_estate_area.max()) , 5000)

In [33]:
# attributes = ["real_estate_area", "total_rooms"]
# # pd.plotting.scatter_matrix(merged_df[attributes],figsize=(20,10));
# plt.figure(figsize=(15,8))
# sns.scatterplot(x=residental_mre[attributes[0]],y=residental_mre[attributes[1]]);

In [34]:
# residental_mre[residental_mre['total_rooms']>10]

In [35]:
# delete null age
residental_mre.drop(residental_mre[residental_mre['real_estate_age'].isna()].index,inplace=True)

In [36]:
# delete null floor
residental_mre.drop(residental_mre[residental_mre['floor'].isna()].index,inplace=True)

In [37]:
# residental_mre.info()

In [38]:
# attributes = ["real_estate_area", "total_rooms"]
# # pd.plotting.scatter_matrix(merged_df[attributes],figsize=(20,10));
# plt.figure(figsize=(15,8))
# sns.scatterplot(x=residental_mre[attributes[0]],y=residental_mre[attributes[1]]);

In [39]:
# delete area larger than 1000m
residental_mre.drop(residental_mre[residental_mre['real_estate_area'] > 1000].index,inplace=True)

In [40]:
# attributes = ["real_estate_area", "total_rooms"]
# # pd.plotting.scatter_matrix(merged_df[attributes],figsize=(20,10));
# plt.figure(figsize=(15,8))
# sns.scatterplot(x=residental_mre[attributes[0]],y=residental_mre[attributes[1]]);

In [41]:
# residental_mre['number_of_parking'].value_counts()

In [42]:
# residental_mre[residental_mre['number_of_parking']>=10]

In [43]:
# residental_mre.price / 50000

In [44]:
# attributes = ["real_estate_area", "total_rooms"]
# # pd.plotting.scatter_matrix(merged_df[attributes],figsize=(20,10));
# plt.figure(figsize=(15,8))
# sns.scatterplot(x=residental_mre[attributes[0]],y=residental_mre[attributes[1]]);

In [45]:
residental_mre.drop(residental_mre[(residental_mre['total_rooms']>1)&(residental_mre['real_estate_area']<50)].index,inplace=True)
residental_mre.drop(residental_mre[(residental_mre['total_rooms']>2)&(residental_mre['real_estate_area']<80)&(residental_mre['real_estate_area']>=50)].index,inplace=True)
residental_mre.drop(residental_mre[(residental_mre['total_rooms']>3)&(residental_mre['real_estate_area']<120)&(residental_mre['real_estate_area']>=80)].index,inplace=True)
residental_mre.drop(residental_mre[(residental_mre['total_rooms']>5)&(residental_mre['real_estate_area']<200)&(residental_mre['real_estate_area']>=120)].index,inplace=True)

In [46]:
residental_mre["total_rooms"].value_counts()

total_rooms
2.0    14873
3.0     7681
1.0     7511
4.0      775
5.0       23
6.0        9
Name: count, dtype: int64

In [47]:
def check_parking(x):
    if x>0:
        return 1
    else:
        return 0

In [48]:
residental_mre["parking"] = residental_mre.number_of_parking.apply(check_parking)

In [49]:
residental_mre.columns

Index(['district_name', 'real_estate_type', 'real_estate_area', 'total_rooms',
       'number_of_parking', 'real_estate_age', 'price', 'facilities', 'floor',
       'price_per_metre', 'آبنما', 'آسانسور', 'آلاچیق', 'اتاق مستر', 'استخر',
       'اطفا حریق', 'اعلام حریق', 'انباری', 'باشگاه', 'بالکن',
       'جاروبرقی مرکزی', 'جکوزی', 'روف گاردن', 'سالن اجتماعات', 'سرایداری',
       'سونا', 'لابی', 'لابی من', 'نورپردازی', 'نگهبانی', 'پارکینگ مهمان',
       'پاسیو', 'parking'],
      dtype='object')

In [50]:
residental_mre.rename(columns={"استخر": "pool",
                  "اتاق مستر" : "master_room",
                  "آسانسور": "elevator",
                  "بالکن": "balcony",
                  "باشگاه": "gym",
                  "انباری": "warehouse",
                  "سرایداری": "janitor",
                  "سالن اجتماعات": "conference_hall",
                  "روف گاردن": "roof_garden",
                  "جکوزی": "jacuzzi",
                  "جاروبرقی مرکزی": "centeral_Vacuume_cleaner",
                  "نگهبانی": "Guard",
                  "لابی": "lobby",
                  "لابی من": "lobby_man",
                  "سونا": "sauna",
                  "price_per_metre": "price_per_meter"},
                inplace=True)

In [51]:
residental_mre.columns

Index(['district_name', 'real_estate_type', 'real_estate_area', 'total_rooms',
       'number_of_parking', 'real_estate_age', 'price', 'facilities', 'floor',
       'price_per_meter', 'آبنما', 'elevator', 'آلاچیق', 'master_room', 'pool',
       'اطفا حریق', 'اعلام حریق', 'warehouse', 'gym', 'balcony',
       'centeral_Vacuume_cleaner', 'jacuzzi', 'roof_garden', 'conference_hall',
       'janitor', 'sauna', 'lobby', 'lobby_man', 'نورپردازی', 'Guard',
       'پارکینگ مهمان', 'پاسیو', 'parking'],
      dtype='object')

In [52]:
residental_mre.drop(columns=["آبنما", "آلاچیق", "اعلام حریق", "اطفا حریق", "نورپردازی", "پاسیو", "پارکینگ مهمان", "number_of_parking"], inplace=True)

In [53]:
residental_mre.columns

Index(['district_name', 'real_estate_type', 'real_estate_area', 'total_rooms',
       'real_estate_age', 'price', 'facilities', 'floor', 'price_per_meter',
       'elevator', 'master_room', 'pool', 'warehouse', 'gym', 'balcony',
       'centeral_Vacuume_cleaner', 'jacuzzi', 'roof_garden', 'conference_hall',
       'janitor', 'sauna', 'lobby', 'lobby_man', 'Guard', 'parking'],
      dtype='object')